{% include "navbar.html" %}

{% block content %}
<style>
    body {
      background: url(https://images.unsplash.com/photo-1512503959943-9d35a3636b51?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      margin: 0;
      padding: 0;
      background-size: cover;
      background-position: right;
      background-attachment: fixed;
    }
    h1 {
        margin-top: 30px; 
        font-size: 2.5rem;
        color: #210c63;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        }
        .container {
            background: #C7B7A3;
            max-width: 400px;
            margin-left: 380px;
            margin-top: 180px; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 5);
            text-align: center; /* centers child elements horizontally */
        }
        nav {
          background-color: #643843;
          color: white;
          padding: 20px 300px;
          text-align: center;
        }
    
        nav a {
          text-decoration: none;
          color: white;
          margin: 0 15px;
          font-size: 18px;
          transition: color 0.3s ease-in-out;
        }
    
        nav a:hover {
          color: #67cdef;
        }
    
        @media screen and (max-width: 600px) {
          nav {
            flex-direction: column;
          }
    
          nav a {
            margin: 10px 0;
          }
        }                                                                                                               
   
  </style>
<div class="container">
    <h1>Welcome to my Job Portal</h1>
</div>
{% endblock content %}